body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f5f5;
}

header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:20px;
}

.search{
    padding:15px;
}

input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:1px solid #ccc;
}

.categories{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    padding:15px;
}

.box{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    font-weight:bold;
}
